[Unit]
Description=muri app logging python service

[Service]
WorkingDirectory=/root/muri-backend/logging-service
ExecStart=/usr/bin/python3 /root/muri-backend/logging-service/logging_main.py
Restart=always
StandardOutput=file:/root/muri-backend/logging-service/std.out
StandardError=file:/root/muri-backend/logging-service/err.out

[Install]
WantedBy=multi-user.target
