[Unit]
Description=muri db python service

[Service]
WorkingDirectory=/root/muri-backend/muri-db
ExecStart=/usr/bin/python3 /root/muri-backend/muri-db/main.py
Restart=always
StandardOutput=file:/root/muri-backend/muri-db/std.out
StandardError=file:/root/muri-backend/muri-db/err.out

[Install]
WantedBy=multi-user.target