[Unit]
Description=muri db python service

[Service]
WorkingDirectory=/root/muri-backend/historical_flights
ExecStart=/usr/bin/python3 /root/muri-backend/historical_flights/main.py
Restart=always
StandardOutput=file:/root/muri-backend/historical_flights/std.out
StandardError=file:/root/muri-backend/historical_flights/err.out

[Install]
WantedBy=multi-user.target