[Unit]
Description=muri db python service

[Service]
WorkingDirectory=/home/muri-db
ExecStart=/usr/bin/python3 /home/muri-db/db-service/db_main.py
Restart=always
StandardOutput=file:/home/muri-db/db-service/std.out
StandardError=file:/home/muri-db/db-service/err.out

[Install]
WantedBy=multi-user.target